[webservers]
server-1 ansible_host=<VM 1 IP> ansible_user=<VM 1 USER> ansible_ssh_private_key_file=<your/path/to/private_key>
server-2 ansible_host=<VM 2 IP> ansible_user=<VM 1 USER> ansible_ssh_private_key_file=<your/path/to/private_key>